@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&family=Sassy+Frass&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2c3333;
  display: flex;
  height: 100vh;
  width: 95vw;
}

.container {
  border: none;
  display: flex;
  background-color: #a5c9ca;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 5rem;
  border-radius: 0 5rem 4rem 0;
}

.subContainer {
  /* border: 2px solid #2c3333; */
  padding-bottom: 2rem;
}

.options {
  /* border: 2px solid #2c3333; */
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  flex-direction: column;
  background-color: #2c3333;
  padding: 3rem 2rem 2rem 2rem;
  border-radius: 50%;
  height: 350px;
  width: 350px;
}
.option-type {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.userInput {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input[type="text"] {
  background-color: #2c3333;
  border: 2px solid #a5c9ca;
  border-radius: 2rem;
  height: 35px;
  color: #a5c9ca;
  text-align: center;
  outline: none;
  letter-spacing: 0.1rem;
  font-size: 0.95rem;
  width: 200px;
  margin-top: 0.75rem;
}

select {
  border-radius: 1rem;
  height: 25px;
  width: fit-content;
  padding: 0 0.5rem;
  outline: none;
  cursor: pointer;
  font-family: "Oxygen";
}

input[type="text"]::placeholder {
  color: #a5c9ca;
  opacity: 1;
  transition: 600ms;
}

input[type="text"]:focus {
  opacity: 1;
}

input[type="text"]:focus::placeholder {
  opacity: 0;
  transition: 300ms;
}

h1 {
  font-family: "Sassy Frass", cursive;
  font-size: 14rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  color: #2c3333;
  transform: translateX(-30px) translateY(-20px);
}

h2 {
  color: #2c3333;
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  width: fit-content;
  letter-spacing: 0.1rem;
  transform: translateY(-25px);
}

select {
  background-color: #e7f6f2;
  color: #395b64;
  font-size: 0.9rem;
}

label {
  color: #e7f6f2;
  font-family: "Oxygen";
  font-weight: 100;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
}

.lineOne {
  height: 25px;
  background-color: #a5c9ca;
  width: 2.5px;
  border-radius: 2rem;
  -webkit-animation-name: lineOneRemove;
  animation-name: lineOneRemove;
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-transition: 800ms;
  -o-transition: 800ms;
  transition: 800ms;
}

.lineTwo {
  height: 25px;
  background-color: #a5c9ca;
  width: 2.5px;
  border-radius: 2rem;
  -webkit-transform: translateX(-2.5px) rotate(90deg);
  -ms-transform: translateX(-2.5px) rotate(90deg);
  transform: translateX(-2.5px) rotate(90deg);
  -webkit-animation-name: lineTwoRemove;
  animation-name: lineTwoRemove;
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-transition: 800ms;
  -o-transition: 800ms;
  transition: 800ms;
}

.lineOneAdded {
  height: 10px;
  -webkit-transform: translateX(-1.5px) translateY(13.5px) rotate(320deg);
  -ms-transform: translateX(-1.5px) translateY(13.5px) rotate(320deg);
  transform: translateX(-1.5px) translateY(13.5px) rotate(320deg);
  -webkit-animation-name: lineOne;
  animation-name: lineOne;
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-transition: 800ms;
  -o-transition: 800ms;
  transition: 800ms;
}

.lineTwoAdded {
  -webkit-transform: translateX(5px) translateY(0px) rotate(390deg);
  -ms-transform: translateX(5px) translateY(0px) rotate(390deg);
  transform: translateX(5px) translateY(0px) rotate(390deg);
  -webkit-animation-name: lineTwo;
  animation-name: lineTwo;
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-transition: 800ms;
  -o-transition: 800ms;
  transition: 800ms;
}

@-webkit-keyframes lineOne {
  0% {
    height: 25px;
    -webkit-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
  }
  100% {
    height: 10px;
    -webkit-transform: translateX(-1.5px) translateY(13.5px) rotate(320deg);
    transform: translateX(-1.5px) translateY(13.5px) rotate(320deg);
  }
}
@keyframes lineOne {
  0% {
    height: 25px;
    -webkit-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
  }
  100% {
    height: 10px;
    -webkit-transform: translateX(-1.5px) translateY(13.5px) rotate(320deg);
    transform: translateX(-1.5px) translateY(13.5px) rotate(320deg);
  }
}

@-webkit-keyframes lineOneRemove {
  0% {
    height: 10px;
    -webkit-transform: translateX(-1.5px) translateY(13.5px) rotate(320deg);
    transform: translateX(-1.5px) translateY(13.5px) rotate(320deg);
  }
  100% {
    height: 25px;
    -webkit-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
  }
}
@keyframes lineOneRemove {
  0% {
    height: 10px;
    -webkit-transform: translateX(-1.5px) translateY(13.5px) rotate(320deg);
    transform: translateX(-1.5px) translateY(13.5px) rotate(320deg);
  }
  100% {
    height: 25px;
    -webkit-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
  }
}

@-webkit-keyframes lineTwo {
  0% {
    -webkit-transform: translateX(-2.5px) rotate(90deg);
    transform: translateX(-2.5px) rotate(90deg);
  }
  100% {
    -webkit-transform: translateX(5px) translateY(0px) rotate(390deg);
    transform: translateX(5px) translateY(0px) rotate(390deg);
  }
}
@keyframes lineTwo {
  0% {
    -webkit-transform: translateX(-2.5px) rotate(90deg);
    transform: translateX(-2.5px) rotate(90deg);
  }
  100% {
    -webkit-transform: translateX(5px) translateY(0px) rotate(390deg);
    transform: translateX(5px) translateY(0px) rotate(390deg);
  }
}
@-webkit-keyframes lineTwoRemove {
  0% {
    -webkit-transform: translateX(5px) translateY(0px) rotate(390deg);
    transform: translateX(5px) translateY(0px) rotate(390deg);
  }
  100% {
    -webkit-transform: translateX(-2.5px) rotate(90deg);
    transform: translateX(-2.5px) rotate(90deg);
  }
}
@keyframes lineTwoRemove {
  0% {
    -webkit-transform: translateX(5px) translateY(0px) rotate(390deg);
    transform: translateX(5px) translateY(0px) rotate(390deg);
  }
  100% {
    -webkit-transform: translateX(-2.5px) rotate(90deg);
    transform: translateX(-2.5px) rotate(90deg);
  }
}
